// styles for activities section

#mobile-content{
  
  .activities{
      padding: 0px 30px 30px 30px;
    &__wrapper{
    }
    &__header{
      margin-bottom: 30px;
    }
    &__title{
      color: #ffffff;
      padding: 20px 5px;
      background-color: #000000;
      @include font-size(22);
      text-align: center;
    }
    &__item{
      margin-bottom: 30px;
    } 	
    .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-button-next{
      background: transparent url('#{$img-assets}/arrow-right.png') no-repeat center/30px;
      position: fixed;
      right: 0px;
    }
    .swiper-button-prev{
      background: transparent url('#{$img-assets}/arrow-left.png') no-repeat center/30px;
      position: fixed;
      left: 0px;
    }
  }
}

// desktop styles
.activities{
  padding-bottom: 50px;
}

.actividades-sidebar{
  float: left;
  display: block;
  width: 300px;
  padding-top: 50px;
  margin-right: 20px;
  &__item{
    width: 240px;
    background-color: #000000;
    height: 80px;
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    span{
      position: relative;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      font-size: 24px;
      padding: 10px 30px;
      line-height: 130%;
      font-weight: 300;
      overflow: hidden;
      display: block;
    }
    &.current:after{
      position: absolute;
      content: "";
      background: transparent url('#{$img-assets}/activities-arrow.png') center no-repeat;
      width: 55px;
      height: 80px;
      top: 0px;
      right: -55px;
    }
  }
}

.actividades-content{
  padding-top: 50px;
  float: right;
  width: 640px;
  padding-right: 40px;
  &__item{
    display: none;
    &.current{
      display: block;
    }
  }
}

