// activities-slide view styles

#mobile-content{

  .activities-s{
    padding: 0px 30px 30px 30px;
    position: relative;
    &__container{
      padding: 0px;
    }
    &__list{
      border-bottom: 2px solid #000;
      margin-top: 20px;
      padding-bottom: 20px;
    }
    &__item{
      display: none;
      &.current_item{
        display: block;
      }
    }
    &__title{
      @include font-size(22);
      border-top: 2px solid #000;
      font-weight: bold;
      margin: 20px 0px;
      padding-top: 20px;
    }
    &__color-logo{
      width: 100%;
      text-align: center;
    }
    .swiper-container {
      width: 100%;
      margin: 20px auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-button-next{
      background: transparent url('#{$img-assets}/arrow-right.png') no-repeat center/30px;
      right: -25px;
      position: absolute;
      top: 23px;
    }
    .swiper-button-prev{
      background: transparent url('#{$img-assets}/arrow-left.png') no-repeat center/30px;
      left: -25px;
      position: absolute;
      top: 23px;
    }
  }

  .activities-slide{
    &__container{
      padding: 0px;
    }
    &__item span{
      line-height: 30px;
      cursor: pointer;
      padding: 5px;
    }
  }


}

.activities-slide{
  &__container{
    padding: 20px 30px 0px 30px;
  }
  &__item{
    display: block;
    background-color: #000;
    cursor: pointer;
    width: 275px;
    text-align: center;
    position: relative;
    height: 90px!important;
    span{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      line-height: 150%;
      padding: 20px 30px;
      width: 100%;
      left: 0px;
    }
  } 
  
}
.activities-s{
  &__list{
    border-bottom: 2px solid #000;
    margin-top: 20px;
    padding-bottom: 90px;
  }
  &__item{
    display: none;
    &.current_item{
      display: block;
    }
  }
  &__title{
    @include font-size(22);
    border-top: 2px solid #000;
    font-weight: bold;
    margin: 20px 0px;
    padding-top: 20px;
  }
  &__color-logo{
    width: 100%;
    text-align: center;
  }
  &__container{
    position: relative;
    padding: 0px 30px;
  }
  .swiper-button-next{
    background: transparent url('#{$img-assets}/arrow-right.png') no-repeat center/30px;
    right: 0px;
    position: absolute;
    top: 63px;
  }
  .swiper-button-prev{
    background: transparent url('#{$img-assets}/arrow-left.png') no-repeat center/30px;
    left: 0px;
    position: absolute;
    top: 63px;
  }
}