// contact
#mobile-content{
  .contact{
    padding: 0px 30px 50px 30px;
    &__social{
      position: relative;
      padding-left: 0px;
      bottom: 0px;
      text-align: center;
    }
    &__form,
    &__map{
      float: none;
      width: 100%;
    }
    &__map{
      iframe{
        height: 300px;
      }
    }
  }
  
  div.wpcf7{
    padding: 0px;
  }
}

.contact{
  padding-bottom: 80px;
  padding-top: 30px;
  &__form,
  &__map{
    float: right;
    width: 50%;
    position: relative;
  }
  &__map{
    iframe{
      height: 515px;
    }
  }
  &__social{
    position: absolute;
    bottom: -60px;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    padding-left: 30px;
    a{
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      &.fb-icon{
        background: transparent url('#{$img-assets}/fb-icon.png') no-repeat center/60px;
      }
      &.tw-icon{
        background: transparent url('#{$img-assets}/tw-icon.png') no-repeat center/60px;
      }
      &.bl-icon{
        background: transparent url('#{$img-assets}/bl-icon.png') no-repeat center/60px;
      }
      span{
        display: block;
        padding-top: 70px;
      }
    }
  }
}

div.wpcf7{
  padding: 0px 0px 0px 30px;
  &-form,
  input, 
  textarea{
    width: 100%;
  }

  input,
  textarea{
    border: 1px solid #d2d2d2;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
  }

  input{
    height: 45px;
    line-height: 45px;
    padding: 0px 10px 0px 45px;
    &[type="submit"]{
      padding: 0px 10px;
    }
    &.name{
      background: transparent url('#{$img-assets}/name-icon.png') no-repeat left center/40px;
    }
    &.email{
      background: transparent url('#{$img-assets}/mail-icon.png') no-repeat left center/40px;
    }
    &.phone{
      background: transparent url('#{$img-assets}/phone-icon.png') no-repeat left center/40px; 
    }
    &.subject{
      background: transparent url('#{$img-assets}/subject-icon.png') no-repeat left center/40px;
    }
   
  }

  textarea{
    padding: 10px 10px 10px 45px;
    height: 150px;
    &.message{
      background: transparent url('#{$img-assets}/message-icon.png') no-repeat left top/40px;
    }
  }
}