// home view styles
// 

#mobile-content{

  .main-content{
    overflow: hidden;
    zoom: 1;
    _overflow:visible;
  }

  .header{
    overflow: hidden;
    zoom: 1;
    _overflow:visible;
    margin-bottom: 40px;
    padding: 20px 20px 0px 20px;
    position: relative;
  }
  .section-title{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-weight: bold;
  }

  .site-title{
    float: right;
  }

  .site-title{
    display: block;
    width: 140px;
    height: 73px;
    overflow: hidden;
    a{
      background: transparent url('#{$img-assets}/logo.png') no-repeat center/140px;
      display: block;
      width: 140px;
      height: 73px;
      overflow: hidden;
      span{
        display: block;
        padding-top: 110px;
      }
    }
  }


  // logo
  .home{
    &__content{
      text-align: center;
      &-logo{
        display: none;
      }
    }
  }

  // menu
  .menu{
  	&__icon-mobile{
  		display: block;
  		background: transparent url('#{$img-assets}/mobile-icon-inactive.png') no-repeat center/33px;
  		width: 33px;
  		height: 33px;
  		cursor: pointer;
  		position: absolute;
  		top: 20px;
  		left: 20px;
  		z-index: 100;
  		&.open_menu{
  			background: transparent url('#{$img-assets}/mobile-icon-close.png') no-repeat center/33px;
  		}
  	}
  	&__nav{
  		display: none;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.6);
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			padding: 100px 0px 70px 0px;

			& li{
				a{
					line-height: 40px;
					color: #ffffff;
					padding: 0px 20px;
					display: block;
				}
			}
  	}
  }
}


#desktop-content{

  body{
    height: 100vh;
    min-height: 650px;
  }
  .menu{
  	position: fixed;
  	bottom: 0px;
  	height: 60px;
  	width: 960px;
    z-index: 9;
  	&__icon-mobile{
  		display: none;
  	}
  	.menu-main-menu-container{
  		width: 960px;
  		margin: 0px auto;
  		height: 60px;
  		background-color: #000000;
  		display: block;
  	}
  	&__nav{
  		float: right;
  		display: block;
  		li{
  			display: inline;
        float: left;
        height: 60px;
        &.current-menu-item a{
          background-color: #ffffff;
          color: #000000;
        }
        a{
          display: inline-block;
          padding: 0px 15px;
          line-height: 60px;
          height: 60px;
          color: #ffffff;
        }
  		}
  	}
  }
  .header{
  	display: none;
  }
  div.home{
    height: calc(100vh - 100px);
  	&__content{
  		width: 960px;
  		margin: 0px auto;
      padding-top: 40px;
      position: relative;
      overflow: hidden;
      zoom: 1;
      _overflow:visible;
      height: 100%;
      &-data{
        width: 640px;
        float: left;
      }
      &-logo{
        display: block;
        float: right;
        width: 320px;
        padding-left: 20px;
        .site-title{
          position: absolute;
          bottom: 0px;
          width: 200px;
          height: 105px;
          float: none;
          a{
            background: transparent url('#{$img-assets}/logo.png') no-repeat center/140px;
            width: 200px;
            height: 105px;
            background-size: 200px;
            overflow: hidden;
            display: block;
            span{
              display: block;
              padding-top: 110px;
            }
          }
        }
      }
  	}
  }
}
