// 
//  config file for global styles, variables, sizes, fonts, etc. 
//

// grid
$full-width: 1440px;

//fonst size
$font-size-general: 14;

//vertical rythm
$vertical-value: 20;

//images as assets
$img-assets : 'ui/img';