// all in one file mixins


 @mixin font-size($sizeValue: $font-size-general ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
  }
  
  @mixin line-height($heightValue: $vertical-value ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
  }
  
  @mixin rhythm($sizeValue: $font-size-general, $heightValue: $vertical-value) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
  }