/*
Theme Name: García Monterroso Abogados
Author: systemscripts team and padamo
Author URI: bamacaerick@gmail.com
Description: Modular, sass theme generated based on design
Version: 1.0
Tags: base theme

García Monterroso Abogados theme has been created based on desing and follow the best standards
for mobile and desktop devices.
*/

@import 'config';
@import 'normalize';
@import 'wpeditor';
@import 'mixins';
@import 'views/home';
@import 'views/actividades';
@import 'views/clientes';
@import 'views/contact';
@import 'views/activities-slides';

iframe{
  width: 100%;
  height: 50vh;
} 

.main-content{
  width: 960px;
  margin: 0px auto;
}

#mobile-content.main-content{
  width: 100%;
}

